<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem placeat ab repellendus ex nam debitis eaque, eius itaque? Illum similique sint voluptates ipsam tempore iure modi totam veritatis. Dolore sunt rem odit culpa dicta iure iusto ex tempore incidunt necessitatibus?</p>
    </div>
</div>